.nav-wrapper {
    .brand-logo img {
        height: 36px;
        margin-top: 14px;
    }
    p {
      position: absolute;
      left: 64px;
      font-size: 14px;
      top: -14px;
    }
    .profile {
      img {
        height: 36px;
        position: absolute;
        top: 14px;
        right: 21px;
        width: 36px;
        border-radius: 18px;
        border: $white solid 3px;
      }
    }
    @media #{$small-and-down} {
        .brand-logo img {
            display: none;
        }
        .profile {
            img {
                top: 10px;
            }
        }
    }
  }
  
