// Body
$body-bg: #FFF;

$main-blue: #4F5B62;
$dark-blue: #263238;
$white: #FFF;
$black: #212121;
$light-gray: #EAEAEA;
$alarm-red: #b71c1c;
$shadow: rgba(0, 0, 0, 0.5);

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size: 12px;
$line-height: 14px;
